<ion-header>
  <ion-toolbar color="primary">
  <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
  <ion-title>Change Password</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
<ion-row>
<ion-col text-center>
   <ion-card *ngIf="first">
   <form [formGroup]="cpasswordForm" (ngSubmit)="submitcpassword()">
<ion-card>
        <ion-item>
     
          <ion-input formControlName="cpassword" [type]="passwordType" clearOnEdit="false"  placeholder="Enter current password"></ion-input>
           <ion-icon sloat="end" [name]="passwordIcon" class="passwordIcon" (click)='hideShowPassword()'></ion-icon>
        </ion-item>
      </ion-card> 
       <div class="ion-padding">
        <ion-button [disabled]="!cpasswordForm.valid"  color="primary" expand="block" type="submit" class="ion-no-margin">Submit</ion-button>
        
      </div>
</form>
   </ion-card>
<ion-card>

  <form [formGroup]="passwordForm" (ngSubmit)="submitpassword()" *ngIf="second">
    <ion-text color="danger"> <div class="ion-text-center"><h4>*Please enter a strong password</h4></div></ion-text>
   
    
      <ion-card>
        <ion-item>
     
          <ion-input formControlName="password" [type]="passwordType" clearOnEdit="false" [(ngModel)]="pass1" placeholder="Enter password"></ion-input>
           <ion-icon sloat="end" [name]="passwordIcon" class="passwordIcon" (click)='hideShowPassword()'></ion-icon>
        </ion-item>
      </ion-card> 
      <ion-card>
        <ion-item>
          
          <ion-input formControlName="repassword" inputmode="text" [(ngModel)]="pass2" placeholder="Confirm password"></ion-input>
        </ion-item>
      </ion-card> 
      <div class="ion-padding">
        <ion-button [disabled]="!passwordForm.valid"  color="primary" expand="block" type="submit" class="ion-no-margin">submit</ion-button>
        
      </div>
   
    
  </form>
</ion-card>
 </ion-col>
</ion-row>
</ion-content>