<ion-header>
  <ion-toolbar  color="primary">
    <ion-title><ion-icon name="arrow-round-back" routerLink="/login"></ion-icon>Forgot password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-card *ngIf="first">
  <ion-item>
    <ion-label position="floating">Enter the email id</ion-label>
    <ion-input [(ngModel)]='email'></ion-input>
  
  </ion-item>
  <ion-button (click)="sendemail()">submit</ion-button>
</ion-card>
<ion-card *ngIf="second">
  <ion-item>
    <ion-label  position="floating">Enter the phone number</ion-label>
    <ion-input [(ngModel)]='phone'></ion-input>
   
  </ion-item>
  <ion-button (click)="sendphone()">submit</ion-button>
</ion-card>
<ion-card *ngIf="third">
  <ion-item>
    <ion-label  position="floating">Enter the otp</ion-label>
    <ion-input [(ngModel)]='otp'></ion-input>
   
  </ion-item>
  <ion-button (click)="sendotp()">submit</ion-button>
</ion-card>
<ion-card *ngIf="fourth">
  <ion-item>
    <ion-label  position="floating">Create a new password</ion-label>
  <ion-input [(ngModel)]="pass"></ion-input>
  </ion-item>
  
  <ion-button (click)="sendpass()">Submit</ion-button>
</ion-card>
</ion-content>
