<ion-header>
  <ion-toolbar color="primary">
    <ion-title><div class="ion-text-center">WELCOME</div></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
 
 
 <ion-card  *ngIf="first">
 <ion-card-title>
 <ion-text color="primary"> <div class="ion-text-center"><h4>An OTP is send to yor phone number</h4></div></ion-text>
 </ion-card-title>

   
    <form [formGroup]="otpForm" (ngSubmit)="submit()">
    <ion-card>
      <ion-item>
        <ion-label class="testclass" position="floating" >Enter OTP<ion-text color="danger">*</ion-text></ion-label>
        <ion-input formControlName="otp" inputmode="text"></ion-input>
      </ion-item>
    </ion-card> 
    <!-- <ion-button [disabled]="!otpForm.valid" color="primary" (click)="resend()">Resend OTP</ion-button> -->
    <div class="ion-padding">
      <ion-button [disabled]="!otpForm.valid" color="primary" expand="block" type="submit" class="ion-no-margin">Verify</ion-button>
      
    </div>
  </form>
</ion-card>
<ion-card *ngIf="second">
  <form [formGroup]="passwordForm" (ngSubmit)="submitpassword()">
    <ion-text color="danger"> <div class="ion-text-center"><h4>*Please enter a strong password</h4></div></ion-text>
   
    
      <ion-card>
        <ion-item>
          <ion-label class="testclass" position="floating" >Password<ion-text color="danger">*</ion-text></ion-label>
          <ion-input formControlName="password" type="password" [(ngModel)]="pass1"></ion-input>
        </ion-item>
      </ion-card> 
      <ion-card>
        <ion-item>
          <ion-label class="testclass" position="floating" >Confirm Password<ion-text color="danger">*</ion-text></ion-label>
          <ion-input formControlName="repassword" [type]="passwordType" clearOnEdit="false" inputmode="text" [(ngModel)]="pass2"></ion-input>
          <ion-icon sloat="end" [name]="passwordIcon" class="passwordIcon" (click)='hideShowPassword()'></ion-icon>

        </ion-item>
      </ion-card> 
      <div class="ion-padding">
        <ion-button [disabled]="!passwordForm.valid"  color="primary" expand="block" type="submit" class="ion-no-margin">submit</ion-button>
        
      </div>
   
    
  </form>
</ion-card>
  <!-- <form [formGroup]="passwordForm" (ngSubmit)="submitpassword()">
    <div>
      <ion-card>
        <ion-item>
          <ion-label class="testclass" position="floating" >Password<ion-text color="danger">*</ion-text></ion-label>
          <ion-input formControlName="password" inputmode="text"></ion-input>
        </ion-item>
      </ion-card> 
      <ion-card>
        <ion-item>
          <ion-label class="testclass" position="floating" >Confirm Password<ion-text color="danger">*</ion-text></ion-label>
          <ion-input formControlName="repassword" inputmode="text"></ion-input>
        </ion-item>
      </ion-card> 
      <div class="ion-padding">
        <ion-button [disabled]="!passwordForm.valid"  color="primary" expand="block" type="submit" class="ion-no-margin">submit</ion-button>
        
      </div>
    </div>
  </form> -->



</ion-content>
