

<ion-content fullscreen class="ion-padding" color="warning">
  <ion-grid style="height: 100%">
    <ion-row justify-content-center align-items-center style="height: 100%">
      <ion-slides>
        <ion-slide>
          <div class="slide">
            <img  src="../../assets/img/ootupura.png"/>
            <h2>Welcome</h2>
            
            
            <ion-text routerLink="/login">Go now...</ion-text>
            
          </div>
        </ion-slide>
        <!-- <ion-slide id="t1">
          <div class="slide">
            <img style="width: 500px; height: 250px;" src="../../assets/img/connect.jpg"/>
            <h2>Welcome</h2>
            <p><b>Connect with your nearest workers</b></p>
           
            <ion-text routerLink="/login">Go now...</ion-text>
          </div>
        </ion-slide>
        <ion-slide>
          <div class="slide">
            <img style="width: 500px; height: 250px;" src="../../assets/img/worker1.jpg"/>
            <h2>Welcome</h2>
            <p><b>Create your job profile and improve your jobs</b></p>
           
            <ion-text routerLink="/login">Go now...</ion-text>
          </div>
        </ion-slide> -->
        <!-- <ion-slide>
          <div class="slide">
            <img style="width: 500px; height: 250px;" src="../../assets/img/2471.jfif"/>
            <h2>Welcome</h2>
            <img routerLink="/login" style="width: 150px; height: 100px;" src="../../assets/img/arrowin.png"><br>
            <ion-text routerLink="/login" color="primary">Lets Go</ion-text>
          </div>
        </ion-slide> -->
    
      </ion-slides>
 
  </ion-row>
</ion-grid>
<!-- <img routerLink="/login" style="width: 150px; height: 100px;" src="../../assets/img/arrowin.png"><br>
  <ion-text routerLink="/login" color="primary">Lets Go</ion-text> -->
<!-- <div class="slide">
  <img style="width: 500px; height: 250px;" src="../../assets/img/2471.jfif"/>
  <h2>Welcome</h2>
  <img routerLink="/login" style="width: 150px; height: 100px;" src="../../assets/img/arrowin.png"><br>
  <ion-text routerLink="/login" color="primary">Lets Go</ion-text>
</div> -->
  <!-- <div class="ion-padding">
    The world is your oyster.
    <p>If you get lost, the <a target="_blank" rel="noopener" href="https://ionicframework.com/docs/">docs</a> will be your guide.</p>
  </div> -->
 
</ion-content>
