<ion-header>
  <ion-toolbar color="primary">
  <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
  <ion-title>Settings</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-card>
<ion-item routerLink="/editprofile">
<ion-icon name="person"></ion-icon>Edit Profile
</ion-item>
</ion-card>

<ion-card>
<ion-item (click)="change()">
<ion-icon name="key"></ion-icon>Change Password
</ion-item>
</ion-card>
<ion-card>
<ion-item (click)="logout()">
<ion-icon name="log-out"></ion-icon>Logout
</ion-item>
</ion-card>
</ion-content>